/* body > contentForm > page */

#page {
  width: auto;
  margin: 0 3px;
  background: #FFFFFF;
  padding: 0px;
}

#page table{
  font-size: 16px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* body > contentForm > page > layout > tituloAtividade > title */

.title {
  height: 45px;
  margin-left: 0px;
  margin-bottom: 3px;
  padding: 0px 0 0 0px;
  text-align: center;
}

.title a {
  border-bottom: none;
  color: #FFFFFF;
}

.title a:hover {
  border-bottom: 1px dotted #000000;
}

.nomeSistema {
  top: 20px;
  color: darkblue;
  font-size: 50px;
  text-align: left;
  width: 100%;
}

body .ui-menu.ui-menubar {
  padding: 0px;
}

.listActionLinksStyleClassOne {
  width: 40px !important;
}

.challenge {
  color: orange !important;
}

.recommendation {
  color: limegreen !important;
}

.login-body {
  background: #1f2d40;
}

.login-body .login-panel .login-panel-content {
  width: 450px;
  position: relative;
  margin-left: -200px;
  top: 100px;
  left: 50%;
}
.login-body .login-panel .login-panel-content .login-label {
  margin-bottom: 5px;
}
.login-body .login-panel .login-panel-content .login-input {
  margin-top: 5px;
}
.login-body .login-panel .login-panel-content .guest-sign-in {
  font-size: 16px;
}
.login-body .login-panel .login-panel-content .welcome-text {
  margin-bottom: 0;
}
.login-body .login-panel .login-panel-content .forget-password {
}

.login-body .ui-panelgrid .ui-panelgrid-cell {
  padding: 0.5rem !important;
  border: 0px hidden #1f2d40;
}

.title-panelgrid .ui-panelgrid .ui-panelgrid-cell {
  padding: 0.5rem !important;
  border: 0px hidden #1f2d40;
}

.welcome-text {
  font-size: x-large !important;
}

.menu .ui-menuitem.ui-widget.ui-corner-all:last-child {
  float: right;
}

.home-icon {
  background: url(images/improve-white-menu25.png.faces) no-repeat !important;
  height: 25px;
  width: 25px;
}

.home {
  color: aqua !important;
}

.cardChallenge .ui-card-title {
  color: orange !important;    
}

.cardRecommendation .ui-card-title {
  color: limegreen !important;    
}

.copyright {
  color: gray;
  font-size: 12px;
}

#copyrightLink {
  text-decoration: none;
}

#copyrightLink:hover {
  text-decoration: underline;
}

.ui-tooltip {
  font-size: 12px !important;
}